/** Re-arranged these Stylings to reflect MOBILE first best practices since it is far easier to modify a working layout for mobile to change for desktop */
@font-face {
    font-family:  Gotham Rounded;
    src:  url(fonts/GothamRounded-Bold.otf) format(opentype);
    src:  url(fonts/GothamRounded-BoldItalic.otf) format(opentype);
    src:  url(fonts/GothamRounded-Book.otf) format(opentype);
    src:  url(fonts/GothamRounded-BookItalic.otf) format(opentype);
    src:  url(fonts/GothamRounded-Light.otf) format(opentype);
    src:  url(fonts/GothamRounded-LightItalic.otf) format(opentype);
    src:  url(fonts/GothamRounded-Medium.otf) format(opentype);
    src:  url(fonts/GothamRounded-MediumItalic.otf) format(opentype);
}

/* Default CSS Given from XD */
:root {

/* Colors: */
--mid-grey: #CBCBCB;
--light-grey: #F6F6F6;
--dark-grey: #4A4A4A;
--unnamed-color-55565a: #55565A;

/* Font/text values */
--unnamed-font-family-gotham-rounded: Gotham Rounded;
--unnamed-font-style-italic: italic;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-19: 19px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-30: 30px;
--unnamed-character-spacing-0-99: 0.99px;
--unnamed-character-spacing-0-63: 0.63px;
--unnamed-character-spacing-0-79: 0.79px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-39: 39px;
--unnamed-text-transform-uppercase: uppercase;

/* Star Ratings */
--star-color: #f2b01e;
--star-default-color: #f0f0f0;
}

/* Character Styles */
.-quote-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-italic);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0-99);
    color: var(--unnamed-color-55565a);
}
.bodycopy-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-19);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0-63);
    color: var(--unnamed-color-55565a);
}
.alt-sub-header-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0-79);
    color: var(--unnamed-color-55565a);
}
.sub-header-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0-99);
    color: var(--unnamed-color-55565a);
}
.header-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing-0-99);
    color: var(--dark-grey);
    text-transform: var(--unnamed-text-transform-uppercase);
    margin-top: 34px;
}
.center {
    text-align: center;
}
.why-polywood > * {
    margin-top: 20px;
}
.testimonial {
    background: var(--light-grey) 0% 0% no-repeat padding-box;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.testimonial-image {
    max-width: 100%;
}
.testimonial-name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 28px/var(--unnamed-line-spacing-39) var(--unnamed-font-family-gotham-rounded);
    color: var(--unnamed-color-55565a);
    text-align: center;
    font: normal normal medium 28px/39px Gotham Rounded;
    letter-spacing: 0.92px;
    color: #55565A;
    opacity: 1;
}
.testimonial-product {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/19px var(--unnamed-font-family-gotham-rounded);
    color: var(--unnamed-color-55565a);
    text-align: center;
    font: normal normal normal 13px/19px Gotham Rounded;
    letter-spacing: 0.43px;
    color: #55565A;
    opacity: 1;
}
.icon {
    width: 84px;
    height: 84px;
    margin: 10px auto;

}
.icon.weather {
    background: transparent url('/assets/Group 87.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.icon.maintainance {
    background: transparent url('/assets/Group 88.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.icon.durability {
    background: transparent url('/assets/Group 89.png') 0% 0% no-repeat padding-box;
    opacity: 1;   
}
.icon.sustainability {
    background: transparent url('/assets/Group 90.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.accordion-button:not(.collapsed) {
    background-color: var(--light-grey);
    color: #707070;
}
.accordion-button:after {
    color: #707070;
}
.inlay-testimonial {
    background-color:  var(--light-grey);
    margin-top: 20px;
}
.inlay-testimonial-image {
    max-width: 100%;
}
.inlay-testimonial-text {
    font: var(--unnamed-font-style-italic) normal var(--unnamed-font-weight-normal) 25px/var(--unnamed-line-spacing-39) var(--unnamed-font-family-gotham-rounded);
    color: var(--unnamed-color-55565a);
    text-align: center;
    font: italic normal normal 25px/39px Gotham Rounded;
    letter-spacing: 0.82px;
    color: #55565A;
    opacity: 1;
}
.white-dining-sets {
    background: transparent url('/assets/white.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 364px;
    height: 291px;
    background-position: center;
    margin: 0 auto;
}
.white-dining-sets + button {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-19)/23px var(--unnamed-font-family-gotham-rounded);
    text-align: center;
    font: normal normal medium 19px/23px Gotham Rounded;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
}
.slate-grey-dining-sets {
    background: transparent url('/assets/PWS260-1-GY-ST.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 364px;
    height: 291px;
    background-position: center;
    margin: 0 auto;
}
.slate-grey-dining-sets + button {
    background: #6F6F6F 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-19)/23px var(--unnamed-font-family-gotham-rounded);
    color: var(--light-grey);
    text-align: center;
    font: normal normal medium 19px/23px Gotham Rounded;
    letter-spacing: 0px;
    color: #F6F6F6;
    text-transform: uppercase;
    opacity: 1;
}
.black-dining-sets {
    background: transparent url('/assets/PWS340-1-BL-ST.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 364px;
    height: 291px;
    background-position: center;
    margin: 0 auto;
}
.black-dining-sets + button {
    background: #2F2F2F 0% 0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-19)/23px var(--unnamed-font-family-gotham-rounded);
    color: var(--light-grey);
    text-align: center;
    font: normal normal medium 19px/23px Gotham Rounded;
    letter-spacing: 0px;
    color: #F6F6F6;
    text-transform: uppercase;
    opacity: 1;
}

.color-swatch {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: middle;
    flex-direction:  row;
    margin-top: 47px;
}
.color-swatch img {
    width: 50%;
    margin: 0 auto;
}
.more-colors {
    border: 1px solid var(--dark-grey);
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 14px/19px var(--unnamed-font-family-gotham-rounded);
    color: var(--dark-grey);
    text-align: center;
    font: normal normal medium 14px/19px Gotham Rounded;
    letter-spacing: 1.02px;
    color: #4A4A4A;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 34px;
}
.outdoor-dining-header {
    margin-top:52px;
}
#on-the-patio {
    background: transparent url('/assets/PWS121-1-GY-LI-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 397px;
    height: 278px;
    margin: 0 auto;
}
#by-the-pool {
    background: transparent url('/assets/PWS261-1-WH-LI-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 397px;
    height: 278px;
    margin: 0 auto;
}
#on-the-front-porch {
    background: transparent url('/assets/PWS156-1-SA902-LI-1.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 397px;
    height: 278px;
    margin: 0 auto;
}
.product-type {
    margin-top: 10px;
}
.product-type img {
    max-width: 100%;
    height: auto;
}

button.shop.all-dining-sets {
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 14px/19px var(--unnamed-font-family-gotham-rounded);
    color: var(--dark-grey);
    text-align: center;
    font: normal normal medium 14px/19px Gotham Rounded;
    letter-spacing: 1.02px;
    color: #4A4A4A;
    text-transform: uppercase;
    opacity: 1;
}
.footer-banner {
    margin-top: 20px;
    background: transparent url('/assets/Group 139.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 363px;
}
.round-thumb {
    width: 125px;
    height: 125px;
    float: left;
}
.review1 {
    background: transparent url('/assets/lakeside-7-piece-farmhouse-dining-set-review.png') 0% 0% no-repeat padding-box;
    border: 2px solid #FAFAFA;
    opacity: 1;
}
.review2 {
    background: transparent url('/assets/vineyard-9-piece-dining-set-review.png') 0% 0% no-repeat padding-box;
    border: 2px solid #FAFAFA;
    opacity: 1;
}
.review3 {
    background: transparent url('/assets/la-casa-cafe-3-piece-bar-set-review.png') 0% 0% no-repeat padding-box;
    border: 2px solid #FAFAFA;
    opacity: 1;
}
.stars {
    width: 80px;
    height: 20px;
}
.star {
    background: #EFC659 0% 0% no-repeat padding-box;
    width: 17px;
    height: 16px;
    opacity: 1;
    margin-left: 2px;
    float: left;
}
.review {
    display: block;
}
.review-content {
    float: left;
    margin-left: 5px;
}
.review-content .quote {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 12px/19px var(--unnamed-font-family-gotham-rounded);
    color: var(--unnamed-color-55565a);
    text-align: left;
    font: normal normal normal 12px/19px Gotham Rounded;
    letter-spacing: 0.4px;
    color: #55565A;
    opacity: 1;
    max-width: 240px;
}
.float-clear {
    float: none;
    clear: both;
    width: 100%;
}
/* Star Rating */

.rating-box {
  color: var(--star-default-color);
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 1);
  left: 0;
  height: 0.5rem;
  width: 4.16rem;
}

.rating-star{
  font-size: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0 0.3rem;
  position: relative;
  display: block;
  float:left;
}

.full-star:before {
  color: var(--star-color);
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.empty-star:before {
  content: "\2605";
  position: absolute;
  left: 0;
  overflow: hidden;
}

.half-star:before {
  color: --var(star-color);
  content: "\2605";
  width: 50%;
  position: absolute;
  left: 0;
  overflow: hidden;
}

/* Place Desktop Only CSS Below */
@media screen and (min-width:  1024px) {

}