/** Re-arranged these Stylings to reflect MOBILE first best practices since it is far easier to modify a working layout for mobile to change for desktop */
@font-face {
    font-family:  Gotham Rounded;
    src:  url(fonts/GothamRounded-Bold.otf) format(opentype);
    src:  url(fonts/GothamRounded-BoldItalic.otf) format(opentype);
    src:  url(fonts/GothamRounded-Book.otf) format(opentype);
    src:  url(fonts/GothamRounded-BookItalic.otf) format(opentype);
    src:  url(fonts/GothamRounded-Light.otf) format(opentype);
    src:  url(fonts/GothamRounded-LightItalic.otf) format(opentype);
    src:  url(fonts/GothamRounded-Medium.otf) format(opentype);
    src:  url(fonts/GothamRounded-MediumItalic.otf) format(opentype);
}

/* Default CSS Given from XD */
:root {

/* Colors: */
--mid-grey: #CBCBCB;
--light-grey: #F6F6F6;
--dark-grey: #4A4A4A;
--unnamed-color-55565a: #55565A;

/* Font/text values */
--unnamed-font-family-gotham-rounded: Gotham Rounded;
--unnamed-font-style-italic: italic;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-19: 19px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-30: 30px;
--unnamed-character-spacing-0-99: 0.99px;
--unnamed-character-spacing-0-63: 0.63px;
--unnamed-character-spacing-0-79: 0.79px;
--unnamed-line-spacing-30: 30px;
--unnamed-line-spacing-36: 36px;
--unnamed-line-spacing-39: 39px;
--unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.-quote-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-italic);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0-99);
    color: var(--unnamed-color-55565a);
}
.bodycopy-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-19);
    line-height: var(--unnamed-line-spacing-30);
    letter-spacing: var(--unnamed-character-spacing-0-63);
    color: var(--unnamed-color-55565a);
}
.alt-sub-header-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-24);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0-79);
    color: var(--unnamed-color-55565a);
}
.sub-header-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-39);
    letter-spacing: var(--unnamed-character-spacing-0-99);
    color: var(--unnamed-color-55565a);
}
.header-text {
    font-family: var(--unnamed-font-family-gotham-rounded);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-36);
    letter-spacing: var(--unnamed-character-spacing-0-99);
    color: var(--dark-grey);
    text-transform: var(--unnamed-text-transform-uppercase);
}
.center {
    text-align: center;
}
.why-polywood > * {
    margin-top: 20px;
}
.testimonial {
    background: var(--light-grey) 0% 0% no-repeat padding-box;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    opacity: 1;
}
.testimonial-image {
    max-width: 100%;
}
.testimonial-name {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 28px/var(--unnamed-line-spacing-39) var(--unnamed-font-family-gotham-rounded);
    color: var(--unnamed-color-55565a);
    text-align: center;
    font: normal normal medium 28px/39px Gotham Rounded;
    letter-spacing: 0.92px;
    color: #55565A;
    opacity: 1;
}
.testimonial-product {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/19px var(--unnamed-font-family-gotham-rounded);
    color: var(--unnamed-color-55565a);
    text-align: center;
    font: normal normal normal 13px/19px Gotham Rounded;
    letter-spacing: 0.43px;
    color: #55565A;
    opacity: 1;
}
.icon {
    width: 84px;
    height: 84px;
    margin: 10px auto;

}
.icon.weather {
    background: transparent url('/assets/Group 87.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.icon.maintainance {
    background: transparent url('/assets/Group 88.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.icon.durability {
    background: transparent url('/assets/Group 89.png') 0% 0% no-repeat padding-box;
    opacity: 1;   
}
.icon.sustainability {
    background: transparent url('/assets/Group 90.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* Place Desktop Only CSS Below */
@media screen and (min-width:  1024px) {


}